@page "/calendar"

@using MediPal.Components.Services
@using MediPal.Models
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using System.Collections.ObjectModel
@using System.ComponentModel
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Buttons

@inject IAppointmentService AppointmentService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationDbContext DbContext

@* Blazor WASM *@
@* @rendermode InteractiveAuto *@

@rendermode @(new InteractiveServerRenderMode(prerender: true))

@attribute [Authorize(Roles = "Admin, Patient, Doctor")]

<PageTitle>My Calendar</PageTitle>
<h3 style="text-align: center">My Calendar</h3>

<br />

@* <SfButton @onclick="HandleAddAppointment">Add Appointment</SfButton>
<SfButton @onclick="HandleUpdateAppointment" Disabled="ObservableAppointments.Count == 0">Update Appointment</SfButton>
<SfButton @onclick="HandleDeleteAppointment" Disabled="ObservableAppointments.Count == 0">Delete Appointment</SfButton> *@

<SfSchedule TValue="Appointment" EnableAutoRowHeight="true" AllowMultiRowSelection="false" AllowDragAndDrop="false" AllowMultiCellSelection="false" AllowMultiDrag="false" CurrentView="View.Month" Height="calc(90vh - 4.6rem)" Width="100%">
    <ScheduleEvents TValue="Appointment" OnPopupClose="OnPopupClose" ActionCompleted="ActionCompleted" OnActionFailure="OnActionFailure"></ScheduleEvents>
    <ScheduleEventSettings DataSource="@AppointmentsCollection">

        <ScheduleField Id="AppointmentId">
            <FieldSubject Name="Subject"></FieldSubject>
            <FieldLocation Name="Location"></FieldLocation>
            <FieldDescription Name="Description"></FieldDescription>
            <FieldIsAllDay Name="IsAllDay"></FieldIsAllDay>
            <FieldStartTime Name="StartTime"></FieldStartTime>
            <FieldEndTime Name="EndTime"></FieldEndTime>
            <FieldStartTimezone Name="StartTimezone"></FieldStartTimezone>
            <FieldEndTimezone Name="EndTimezone"></FieldEndTimezone>
        </ScheduleField>

    </ScheduleEventSettings>

    <ScheduleViews>
        <ScheduleView Option="View.Day"></ScheduleView>
        <ScheduleView Option="View.Week"></ScheduleView>
        <ScheduleView Option="View.Month"></ScheduleView>
        <ScheduleView Option="View.Agenda"></ScheduleView>
    </ScheduleViews>
</SfSchedule>

@code {

    List<Appointment> AppointmentsCollection = new List<Appointment>();

    DateTime CurrentDate = new DateTime(2024, 10, 2);

    //create variable appointment to support CRUD operation in page
    Appointment appointment { get; set; } = new Appointment();

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            AppointmentsCollection = await AppointmentService.GetAppointmentsByUserIdAsync(userId);
        }
    }


    private async Task ActionCompleted(ActionEventArgs<Appointment> args)
    {
        try
        {

            if (args.ActionType == ActionType.EventCreate)
            {
                if (appointment.AppointmentId == null || appointment.AppointmentId == 0)
                {
                    await AppointmentService.AddAppointmentAsync(appointment);
                }
                // This syncs the scheduler instance AppointmentId with the added AppointmentId
                args.AddedRecords.First<Appointment>().AppointmentId = appointment.AppointmentId;
                StateHasChanged();
                await RefreshAppointmentsList();
            }

            else if (args.ActionType == ActionType.EventChange)
            {

                if (appointment != null)
                {
                    // Update existing appointment
                    await AppointmentService.UpdateAppointmentAsync(appointment);
                }
                StateHasChanged();
            }

            else if (args.ActionType == ActionType.EventRemove)
            {
                await AppointmentService.DeleteAppointmentAsync(appointment.AppointmentId, appointment.UserId);
                // appointment = args.AddedRecords.FirstOrDefault<Appointment>(appointment);
                // appointment.Subject = args.AddedRecords.FirstOrDefault().Subject;
                // appointment.StartTime = args.AddedRecords.FirstOrDefault().StartTime;
                // appointment.EndTime = args.AddedRecords.FirstOrDefault().EndTime;
                // appointment.StartTimezone = args.AddedRecords.FirstOrDefault().StartTimezone;
                // appointment.EndTimezone = args.AddedRecords.FirstOrDefault().EndTimezone;
                // appointment.Location = args.AddedRecords.FirstOrDefault().Location;
                // appointment.Description = args.AddedRecords.FirstOrDefault().Description;
                // appointment.IsAllDay = args.AddedRecords.FirstOrDefault().IsAllDay;
                // appointment.RecurrenceId = args.AddedRecords.FirstOrDefault().RecurrenceId;
                // appointment.RecurrenceRule = args.AddedRecords.FirstOrDefault().RecurrenceRule;
                // appointment.RecurrenceException = args.AddedRecords.FirstOrDefault().RecurrenceException;
                // appointment.IsReadOnly = args.AddedRecords.FirstOrDefault().IsReadOnly;
                // appointment.IsBlock = args.AddedRecords.FirstOrDefault().IsBlock;

                // appointment.UserId = userId;
                StateHasChanged();
            }

        }

        catch
        {
            Console.WriteLine("Appointment was unable to be added, changed, or deleted.");
            StateHasChanged();
        }
        appointment = new Appointment();

    }


    private async Task OnPopupClose(PopupCloseEventArgs<Appointment> args)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;


        if (user.Identity.IsAuthenticated)
        {
            var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            try
            {
                if (args.Type == PopupType.Editor || args.Type == PopupType.QuickInfo)
                {
                    appointment = new Appointment();
                    appointment.AppointmentId = args.Data.AppointmentId;
                    appointment.Subject = args.Data.Subject;
                    appointment.StartTime = args.Data.StartTime;
                    appointment.EndTime = args.Data.EndTime;
                    appointment.StartTimezone = args.Data.StartTimezone;
                    appointment.EndTimezone = args.Data.EndTimezone;
                    appointment.Location = args.Data.Location;
                    appointment.Description = args.Data.Description;
                    appointment.IsAllDay = args.Data.IsAllDay;
                    appointment.RecurrenceId = args.Data.RecurrenceId;
                    appointment.RecurrenceRule = args.Data.RecurrenceRule;
                    appointment.RecurrenceException = args.Data.RecurrenceException;
                    appointment.IsReadOnly = args.Data.IsReadOnly;
                    appointment.IsBlock = args.Data.IsBlock;

                    appointment.UserId = userId;

                    // At this point, appointment has been updated based on the Calendar event input box
                }
            }

            catch
            {
                Console.WriteLine("Application has failed to assign values to appointment");
                appointment = new Appointment();
            }
        }
    }

    private async Task RefreshAppointmentsList()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            AppointmentsCollection = await AppointmentService.GetAppointmentsByUserIdAsync(userId);
        }
    }

    private bool IsDuplicateAppointment(Appointment newAppointment)
    {
        return AppointmentsCollection.Any(existingAppointment =>
        existingAppointment.Subject == newAppointment.Subject &&
        existingAppointment.StartTime == newAppointment.StartTime &&
        existingAppointment.EndTime == newAppointment.EndTime &&
        existingAppointment.Location == newAppointment.Location &&
        existingAppointment.Description == newAppointment.Description &&
        existingAppointment.UserId == newAppointment.UserId
        );
    }

    public void OnActionFailure(ActionEventArgs<Appointment>
        args)
    {
        RefreshAppointmentsList();
    }

}
