@page "/timeline"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>My Timeline</PageTitle>

<h3 style="text-align: center;">My Timeline</h3>

<div style="text-align:center;">
    <img src="/timeline.jpg" height="800" />
</div>
