@page "/timeline"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Timeline</PageTitle>

<h1 style="text-align: center;">Timeline</h1>

<div style="text-align:center;">
    <img src="/timeline.jpg" height="800" />
</div>
