@page "/weekoutlook"

<PageTitle>Week Outlook</PageTitle>

<h1 style="text-align: center;">Week Outlook</h1>

<br />

<div class="row">

    <div class="col-lg-3">
        <div class="card border">
            <div class="card-body" style=" text-align: left;">
                <h5 class="card-title" style="text-align: center;">Monday</h5>
                <p class="card-text" style="text-align: center;">Chemotherapy</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card border">
            <div class="card-body" style=" text-align: left;">
                <h5 class="card-title" style="text-align: center;">Tuesday</h5>
                <p class="card-text" style="text-align: center;">Recovery</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card border">
            <div class="card-body" style=" text-align: left;">
                <h5 class="card-title" style="text-align: center;">Wednesday</h5>
                <p class="card-text" style="text-align: center;">Recovery</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card border">
            <div class="card-body" style=" text-align: left;">
                <h5 class="card-title" style="text-align: center;">Thursday</h5>
                <p class="card-text" style="text-align: center;">Recovery</p>
            </div>
        </div>
    </div>

</div>

<br />
<br />

<div class="row">

    <div class="col-lg-4">
        <div class="card border">
            <div class="card-body" style=" text-align: left;">
                <h5 class="card-title" style="text-align: center;">Friday</h5>
                <p class="card-text" style="text-align: center;">Bone Marrow Puncture</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card border">
            <div class="card-body" style=" text-align: left;">
                <h5 class="card-title" style="text-align: center;">Saturday</h5>
                <p class="card-text" style="text-align: center;">Break</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card border">
            <div class="card-body" style=" text-align: left;">
                <h5 class="card-title" style="text-align: center;">Sunday</h5>
                <p class="card-text" style="text-align: center;">Break</p>
            </div>
        </div>
    </div>

</div>

