@page "/addsymptom"
@page "/addsymptom/{id:int}"
@inject ISymptomService SymptomService
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations


<h3>Add Symptom</h3>

<EditForm Model="symptom" OnValidSubmit="OnValidSubmit" FormName="AddSymptomForm">
    <DataAnnotationsValidator />

</EditForm>

@code {

    // [Parameter]
    // public int? SymptomID { get; set; }
    // public int? SymptomName { get; set; }
    // public int? PainLevel { get; set; }
    // public int? Activity { get; set; }

    [SupplyParameterFromForm]
    Symptom symptom { get; set; } = new Symptom();

    bool success;

    async Task OnValidSubmit()
    {
        await SymptomService.AddSymptom(symptom);
    }
}
