@page "/symptoms"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MediPal.Models
@using MediPal.Data
@inject IDbContextFactory<MediPal.Data.MediPalContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="symptoms/create">Create New</a>
</p>
@* 
<QuickGrid Class="table" Items="context.Symptom">
    <PropertyColumn Property="symptom => symptom.SymptomName" />
    <PropertyColumn Property="symptom => symptom.Date" />
    <PropertyColumn Property="symptom => symptom.PainLevel" />
    <PropertyColumn Property="symptom => symptom.Activity" />

    <TemplateColumn Context="symptom">
        <a href="@($"symptoms/edit?symptomid={Symptom.SymptomID}")">Edit</a> |
        <a href="@($"symptoms/details?symptomid={Symptom.SymptomID}")">Details</a> |
        <a href="@($"symptoms/delete?symptomid={Symptom.SymptomID}")">Delete</a>
    </TemplateColumn>
</QuickGrid> *@

@code {
    MediPalContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
