@inherits LayoutComponentBase


<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudSwitch @bind-Value="_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Light/Dark Mode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        MediPal
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>

    <MudPaper Class="px-10" Width="100%" Elevation="0">
    @* <MudContainer MaxWidth="MaxWidth.Large"> *@
        <MudMainContent>
            @Body
        </MudMainContent>
    @* </MudContainer> *@
    </MudPaper>

</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme _theme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.BlueGray.Default,
                Secondary = Colors.BlueGray.Default,
                AppbarBackground = Colors.BlueGray.Default,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.BlueGray.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };

    private bool _isDarkMode = true;
}



@* Uncomment for Original Blazor UI Layout
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@

